<form [formGroup]="formulario" (ngSubmit)="enviar()">
    <div class="contendor-campo">
        <mat-form-field>
        <mat-label for="nombre">Nombre:</mat-label>
        <input  matInput id="nombre" formControlName="nombre">
        </mat-form-field>
        <div class="mensaje-error">
        @if(formulario.controls['nombre'].hasError('required')){
            <p>El campo nombre es obligatorio</p>
        }
        @if(formulario.controls['nombre'].hasError('minlength')){
            <p>Mínimo 3 letras</p>
        }
        @if(formulario.controls['nombre'].hasError('maxlength')){
            <p>Máximo 20 letras</p>
        }
        </div>
    </div>
    <div class="contendor-campo">
        <mat-form-field>
        <mat-label for="email">Email:</mat-label>
        <input matInput id="email" formControlName="email">
        </mat-form-field>
        <div class="mensaje-error">
        @if(formulario.controls['email'].hasError('required')){
            <p>El campo email es obligatorio</p>
        }
        @if(formulario.controls['email'].hasError('email')){
            <p>El email no está en formato correcto</p>
        }
        </div>
    </div>
    <button matButton="elevated" type="submit">Enviar</button>
    <button matButton="filled" type="button" (click)="resetear()">Resetear</button>




</form>
