<mat-toolbar>
    <button matIconButton [matMenuTriggerFor]="miMenu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Mi aplicación</span>
    <span class="example-spacer"></span>
    <span class="ruta" routerLink="/semaforo">Semaforo</span>
    <span class="example-spacer"></span>
    <span class="ruta" routerLink="/formulario">Formulario</span>
    <span class="example-spacer"></span>

</mat-toolbar>

<mat-menu #miMenu="matMenu">
    <button mat-menu-item routerLink="/semaforo">Semaforo</button>
    <button mat-menu-item routerLink="/formulario">Formulario</button>

</mat-menu>